body {
    text-align: center;
}

.freechampions {
    border-width:3px;
    border-style:solid;
    border-color:black;
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height:50%;
        line-height: 2em;
        font-weight: bold;
}