body {
    text-align: center;
}

.submit {
    width: 10em;  height: 3em;
}

.freechampions {
    border-width:3px;
    border-style:solid;
    border-color:black;
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height:40%;
        line-height: 2em;
        font-weight: bold;
}