body {
  text-align: center;
}

.submit {
  width: 10em;
  height: 3em;
  background-color: #cc3300;
  color: wheat;
  font-weight: 900;
  border: none;
}

h1,
h2 {
  color: #cc3300;
}

h1.game {
  color: salmon;
}

.freechampions {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 100%;
  line-height: 2em;
  font-weight: bold;
}

.servername {
  color: salmon;
}

.error {
  color: #d8000c;
  position: relative;
  border-style: solid;
  border-width: 3px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12);
}

.httpError {
  color: #d8000c;
  left: 0;
  position: absolute;
  text-align: center;
  font-size: 3em;
  top: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12);
}

#countholder .link {
  margin-top: 40px;
}

#countholder a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  background: #265;
  border-radius: 10px;
  text-decoration: none;
}

#countholder a:hover {
  background: #487;
}

#countholder {
  font-family: sans-serif;
  color: wheat;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 48px;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  line-height: 1.4;
}

#countholder > div {
  padding: 4px 10px;
  border-radius: 3px;
  background: #cc3300;
  display: inline-block;
}

#countholder div > span {
  border-radius: 3px;
  background: #cc3300;
  display: inline-block;
}

#countholder .smalltext {
  padding-top: 5px;
  font-size: 16px;
}

div.item {
  vertical-align: top;
  display: inline-block;
  width: 100px;
  align-content: center;
}

img {
  width: 100px;
  height: 100px;
  background-color: grey;
}
.caption {
  display: block;
  position: relative;
  bottom: 10px;
  border: none;
  color: wheat;
  font-weight: 900;
  background-color: #cc3300;
}

.bgButton {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(6);
  padding: 5px;
  background-color: grey;
  font-weight: 900;
  border: none;
}
