<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<span class="httpError">A {{error}} error with the code {{ code }}  has occured on {{ server }} server, please try again later</span>
</body>
</html>